// global nav styles

.k_nav {
  flex: 0 0 auto;
  order: -1;
  padding: 0.625rem 1rem 1rem 0;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  border-right: 1px dotted rgba(0, 0, 0, 0.1);
  transform: translateX(-98%);
  transition: all 0.2s ease;
  z-index: 1100;
  overflow-x: visible;
  overflow-y: scroll;

  &:hover,
  &:focus,
  &.k_nav__active {
    transform: translateX(0);
    background: rgba(229, 229, 229, 0.99);
    border-right: 0 none;
    box-shadow: $box-shadow;

    .k_logo {
      display: block;
      padding: 0.75rem 0 0.85rem 1.25rem;
      color: rgba(255, 255, 255, 0.3);
      background: rgba(0, 0, 0, 0.85);
    }
  }

  @include mqbp-up(d) { transform: translateX(-95%); }
}

.k_nav {
  &:focus-within {
    transform: translateX(0);
    background: rgba(229, 229, 229, 0.99);
    border-right: 0 none;
    box-shadow: $box-shadow;

    .k_logo {
      display: block;
      padding: 0.75rem 0 0.85rem 1.25rem;
      color: rgba(255, 255, 255, 0.3);
      background: rgba(0, 0, 0, 0.85);
    }
  }
}

.k_nav__list {
  padding: 0.5rem 0 4rem;

  .k_nav__list {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.k_nav__item {
  font-size: $fs-sm;
  margin: 0;

  a {
    display: block;
    padding: 0.25rem 2rem 0.25rem 1rem;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0);
    border-left-width: 0.25rem;
    border-left-style: solid;
    border-left-color: rgba(0, 0, 0, 0);
    transition: border-left-color 0.2s ease,
                color 0.2s ease,
                background-color 0.2s ease;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
      background-color: rgba(255, 255, 255, 0.5);
      border-left-color: rgba(0, 0, 0, 0.3);
    }
  }

  .nuxt-link-active {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    border-left-color: rgba(0, 0, 0, 0.5);

    &:hover { cursor: default; }
  }

  &.\--child {
    font-size: $fs-sm;
    padding-left: 0.5rem;
    border-left-color: transparent;

    a {
      &:hover {
        border-left-color: transparent;
      }
    }

    .nuxt-link-active {
      font-weight: 400;
      border-left-color: transparent;

      &.nuxt-link-exact-active {
        font-weight: 700;
      }
    }
  }
}
