<template>
  <section class="container" :class="(cv_class ? ' '+ cv_class : '')">
    <h1>{{ pageTitle }}</h1>
    <div class="row">
      <div class="col">
        <div class="ta--c">
          <a href="#" :class="el_type+(el_class ? ' '+ el_class.join(' ') : '')">{{ pageTitle }}</a>
        </div>
        <Palette
          :options="options"
          :utils="utils"
          @palette-updates="UpdatePalette"
          @canvas-updates="UpdateCanvas"
        />
      </div>
    </div>
  </section>
</template>

<script>
import Palette from '~/components/Palette'

export default {
  name: 'Button',
  layout: 'canvas',
  components: {
    Palette
  },
  data() {
    return {
      pageTitle: 'Button',

      el_type: 'btn',
      el_class: [],
      cv_class: []
    }
  },
  computed: {
    options() {
      return this.$store.state.options.button.scoped
    },
    utils() {
      return this.$store.state.options.button.utils
    }
  },
  methods: {
    UpdatePalette(elClass) {
      this.el_class = elClass
    },
    UpdateCanvas(cvClass) {
      this.cv_class = cvClass
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
