<template>
  <section class="container" :class="(cv_class ? ' '+ cv_class : '')">
    <h1>{{ pageTitle }}</h1>
    <div class="row w--100">
      <div class="col d--flex w--80 w--50@t w--1/4@d mx--auto ta--l">
        <div class="w--100 bg--white" :class="el_type+(el_class ? ' '+ el_class.join(' ') : '')">
          <div class="__graphic ar--1x1 d--none"><img class="__graphic__img" src="../../../assets/images/85409.jpg"></div>
          <div class="__body">
            <h2 class="__title">Card Title</h2>
            <p>Bunch of text in a card.</p>
          </div>
        </div>
      </div>
      <Palette
        :options="options"
        :utils="utils"
        @palette-updates="UpdatePalette"
        @canvas-updates="UpdateCanvas"
      />
    </div>
  </section>
</template>

<script>
import Palette from '~/components/Palette'

export default {
  name: 'Card',
  layout: 'canvas',
  components: {
    Palette
  },
  data() {
    return {
      pageTitle: 'Card',

      el_type: 'card',
      el_class: [],
      cv_class: []
    }
  },
  computed: {
    options() {
      return []
    },
    utils() {
      return this.$store.state.options.card.utils
    },
    has_image() {
      if (this.$store.state.options.card.scoped.has_image === true) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    UpdatePalette(elClass) {
      this.el_class = elClass
    },
    UpdateCanvas(cvClass) {
      this.cv_class = cvClass
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>

<style scoped>
  .has-image .__graphic { display: block; }
</style>
