<template>
  <section class="container" :class="(cv_class ? ' '+ cv_class : '')">
    <h1>{{ pageTitle }}</h1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-thumbs-up"
    >
      <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3" />
    </svg>
    <div class="fs--xs mt--1">thumbs-up</div>
  </section>
</template>

<script>
export default {
  layout: 'canvas',
  data() {
    return {
      pageTitle: 'Icon'
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
