<template>
  <section class="container" :class="(cv_class ? ' '+ cv_class : '')">
    <h1>{{ pageTitle }}</h1>
    <div class="row">
      <div class="col ta--l">
        <div :class="el_type+(el_class ? ' '+ el_class.join(' ') : '')">
          <div class="__item">
            <b>Lorem ipsum dolor</b>: sit amet do eiusmod
          </div>
          <div class="__item">
            <b>Lorem ipsum</b>: dolor sit amet, consectetur faucibus mollis interdum
          </div>
          <div class="__item">
            <b>Maecenas</b>: faucibus mollis interdum
          </div>
          <div class="__item">
            <b>Lorem ipsum</b>: dolor sit amet, consectetur
          </div>
          <div class="__item">
            <b>Lorem ipsum dolor</b>: sit amet do eiusmod
          </div>
        </div>
        <Palette
          :options="options"
          :utils="utils"
          @palette-updates="UpdatePalette"
          @canvas-updates="UpdateCanvas"
        />
      </div>
    </div>
  </section>
</template>

<script>
import Palette from '~/components/Palette'

export default {
  name: 'List Group',
  layout: 'canvas',
  components: {
    Palette
  },
  data() {
    return {
      pageTitle: 'List Group',

      el_type: 'list-group',
      el_class: [],
      cv_class: []
    }
  },
  computed: {
    options() {
      return this.$store.state.options.listGroup.scoped
    },
    utils() {
      return this.$store.state.options.listGroup.utils
    }
  },
  methods: {
    UpdatePalette(elClass) {
      this.el_class = elClass
    },
    UpdateCanvas(cvClass) {
      this.cv_class = cvClass
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
