<template>
  <section class="container justify--start ta--l" :class="(cv_class ? ' '+ cv_class : '')">
    <h1>{{ pageTitle }}</h1>
    <header :class="el_type+(el_class ? ' '+ el_class.join(' ') : '')">
      <a class="__logo" href="#">
        <img v-if="/bg--black|--overlay/.test(el_class)" class="__logo__image" alt="Logo" src="https://kernl-ui.test/docs/images/logo-white.png">
        <img v-else class="__logo__image" alt="Logo" src="https://kernl-ui.test/docs/images/logo.png">
      </a>
      <button class="__toggler hidden--up@d" id="toggle_1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-menu">
            <line x1="3" y1="12" x2="21" y2="12" />
            <line x1="3" y1="6" x2="21" y2="6" />
            <line x1="3" y1="18" x2="21" y2="18" />
        </svg>
      </button>
      <nav class="__drawer" id="drawer_1" role="navigation">
        <div class="w--100 d--flex justify--between hidden--up@d">
          <a class="__logo" href="https://kernl-ui.test">
            <img class="__logo__image" alt="Logo" src="https://kernl-ui.test/docs/images/logo-white.png">
          </a>
          <button class="__toggler menu-is-open">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
          </button>
        </div>

        <ul v-if="el_class.includes('--megamenu')" class="__list">
          <li class="__item +children">
            <a class="__link" href="https://kernl-ui.test">Lorem Ipsum</a>
            <ul class="__submenu">
              <li class="col w--1/4@d">
                <a class="__link --heading" href="https://kernl-ui.test">Malesuada Bibendum</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                </ul>
              </li>
              <li class="col w--1/4@d">
                <a class="__link --heading" href="https://kernl-ui.test">Tortor Fusce</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                </ul>
              </li>
              <li class="col w--1/4@d">
                <a class="__link --heading" href="https://kernl-ui.test">Quam Vulputate Nibh</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                </ul>
              </li>
              <li class="col w--1/4@d --feature">
                <a class="__link --heading" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Vulputate Nibh Quam</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="__item +children">
            <a class="__link" href="https://kernl-ui.test">Bibendum</a>
            <ul class="__submenu">
              <li class="col w--1/4@d">
                <a class="__link --heading" href="https://kernl-ui.test">Tortor Fusce</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                </ul>
              </li>
              <li class="col w--1/4@d">
                <a class="__link --heading" href="https://kernl-ui.test">Quam Vulputate Nibh</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                </ul>
              </li>
              <li class="col w--1/4@d">
                <a class="__link --heading" href="https://kernl-ui.test">Malesuada Bibendum</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                </ul>
              </li>
              <li class="col w--1/4@d --feature">
                <a class="__link --heading" href="https://kernl-ui.test">Purus Magna Pellentesque</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Vulputate Nibh Quam</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="__item +children">
            <a class="__link" href="https://kernl-ui.test">Pudgi Homunculi</a>
            <ul class="__submenu">
              <li class="col w--1/4@d">
                <a class="__link --heading" href="https://kernl-ui.test">Quam Vulputate Nibh</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                </ul>
              </li>
              <li class="col w--1/4@d">
                <a class="__link --heading" href="https://kernl-ui.test">Malesuada Bibendum</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                </ul>
              </li>
              <li class="col w--1/4@d">
                <a class="__link --heading" href="https://kernl-ui.test">Tortor Fusce</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                </ul>
              </li>
              <li class="col w--1/4@d --feature">
                <a class="__link --heading" href="https://kernl-ui.test">Vulputate Nibh Quam</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="__item +children">
            <a class="__link" href="https://kernl-ui.test">Malesuada Nucleus</a>
            <ul class="__submenu">
              <li class="col w--1/4@d">
                <a class="__link --heading" href="https://kernl-ui.test">Malesuada Bibendum</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                </ul>
              </li>
              <li class="col w--1/4@d">
                <a class="__link --heading" href="https://kernl-ui.test">Quam Vulputate Nibh</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                </ul>
              </li>
              <li class="col w--1/4@d">
                <a class="__link --heading" href="https://kernl-ui.test">Mollis Elit</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                </ul>
              </li>
              <li class="col w--1/4@d --feature">
                <a class="__link --heading" href="https://kernl-ui.test">Dapibus Ornare Tellus</a>
                <ul>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Vulputate Nibh Quam</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Tortor Fusce</a></li>
                  <li class="__item"><a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="__item +icon">
            <a class="__link" href="#" data-toggle="modal" data-target="#modal_search" aria-label="Modal Search">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-search">
                  <circle cx="11" cy="11" r="8" />
                  <line x1="21" y1="21" x2="16.65" y2="16.65" />
              </svg>
            </a>
          </li>
        </ul>

        <ul v-else class="__list">
          <li class="__item">
            <a class="__link" href="https://kernl-ui.test">Lorem Ipsum</a>
          </li>
          <li class="__item +children --active">
            <a class="__link" href="https://kernl-ui.test" aria-haspopup="true" aria-expanded="false">Bibendum</a>
            <ul class="__submenu">
              <li class="__item">
                <a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a>
              </li>
              <li class="__item">
                <a class="__link" href="https://kernl-ui.test">Tortor Fusce</a>
              </li>
            </ul>
          </li>
          <li class="__item +children">
            <a class="__link" href="https://kernl-ui.test" aria-haspopup="true" aria-expanded="false">Pudgi Homunculi</a>
            <ul class="__submenu">
              <li class="__item">
                <a class="__link" href="https://kernl-ui.test">Malesuada Bibendum</a>
              </li>
              <li class="__item">
                <a class="__link" href="https://kernl-ui.test">Bibendum Mattis Dapibus</a>
              </li>
              <li class="__item">
                <a class="__link" href="https://kernl-ui.test">Venenatis Pharetra Sit Dolor</a>
              </li>
            </ul>
          </li>
          <li class="__item +children">
            <a class="__link" href="https://kernl-ui.test" aria-haspopup="true" aria-expanded="false">Malesuada Nucleus</a>
            <ul class="__submenu">
              <li class="__item">
                <a class="__link" href="https://kernl-ui.test">Quam Vulputate Nibh</a>
              </li>
              <li class="__item">
                <a class="__link" href="https://kernl-ui.test">Tortor Fusce</a>
              </li>
            </ul>
          </li>
          <li class="__item +icon">
            <a class="__link" href="#" data-toggle="modal" data-target="#modal_search" aria-label="Modal Search">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-search">
                  <circle cx="11" cy="11" r="8" />
                  <line x1="21" y1="21" x2="16.65" y2="16.65" />
              </svg>
            </a>
          </li>
        </ul>

        <ul v-if="el_class.includes('+utility')" class="__list --utility">
          <li class="__item">
            <a class="__link" href="#">Utility</a>
          </li>
          <li class="__item">
            <a class="__link" href="#">Makes</a>
          </li>
          <li class="__item">
            <a class="__link" href="#">Futility</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="section bg--img --hero --center w--100" style="background-image:url(https://kernl-ui.test/docs/images/random/85409.jpg)">
      <div class="__header">
        <div class="__title">Example Hero</div>
      </div>
    </div>
    <Palette
      :options="options"
      :utils="utils"
      @palette-updates="UpdatePalette"
      @canvas-updates="UpdateCanvas"
    />
  </section>
</template>

<script>
import Palette from '~/components/Palette'

export default {
  name: 'Masthead',
  layout: 'canvas',
  components: {
    Palette
  },
  data() {
    return {
      pageTitle: 'Masthead',

      el_type: 'masthead',
      el_class: [],
      cv_class: []
    }
  },
  computed: {
    options() {
      return this.$store.state.options.masthead.scoped
    },
    utils() {
      return []
    }
  },
  methods: {
    UpdatePalette(elClass) {
      this.el_class = elClass
    },
    UpdateCanvas(cvClass) {
      this.cv_class = cvClass
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>

<style>
  .justify--start {
    justify-content: flex-start;
  }
</style>
