<template>
  <section class="container" :class="(cv_class ? ' '+ cv_class : '')">
    <h1>{{ pageTitle }}</h1>
  </section>
</template>

<script>
export default {
  layout: 'canvas',
  data() {
    return {
      pageTitle: 'Media Object'
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
