<template>
  <section class="container px--2">
    <h1>{{ pageTitle }}</h1>
    <div class="row ta--l">
      <div class="col w--1/2@t w--1/4@d">
        <div class="hidden--up@t ta--c">
          <button class="btn --sm fs-swap-element fs-swap-enabled" data-toggle="nav" data-swap-target="#page_menu_0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-align-left"
            >
              <line x1="17" y1="10" x2="3" y2="10" />
              <line x1="21" y1="6" x2="3" y2="6" />
              <line x1="21" y1="14" x2="3" y2="14" />
              <line x1="17" y1="18" x2="3" y2="18" />
            </svg>
            Page Menu
          </button>
        </div>
        <nav class="nav --interior fs-swap-target fs-swap-enabled mb--4" id="page_menu_0">
          <ul class="__list">
            <li class="__item --active">
              <a class="__link" href="#">Dolor Fermentum Ullamcorper Fringilla</a>
            </li>
            <li class="__item">
              <a class="__link" href="#">Dolor Fermentum Ullamcorper Fringilla</a>
            </li>
            <li class="__item">
              <a class="__link" href="#">Dolor Fermentum Ullamcorper Fringilla</a>
            </li>
            <li class="__item">
              <a class="__link" href="#">Dolor Fermentum Ullamcorper Fringilla</a>
            </li>
            <li class="__item">
              <a class="__link" href="#">Sit Parturient Pellentesque Magna Sem Ridiculus Ultricies Euismod</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col w--1/2@t w--1/4@d">
        <div class="hidden--up@t ta--c">
          <button class="btn --sm fs-swap-element fs-swap-enabled" data-toggle="nav" data-swap-target="#page_menu_1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-align-left"
            >
              <line x1="17" y1="10" x2="3" y2="10" />
              <line x1="21" y1="6" x2="3" y2="6" />
              <line x1="21" y1="14" x2="3" y2="14" />
              <line x1="17" y1="18" x2="3" y2="18" />
            </svg>
            Page Menu
          </button>
        </div>
        <nav class="nav --interior fs-swap-target fs-swap-enabled mb--4" id="page_menu_1">
          <ul class="__list">
            <li class="__item">
              <a class="__link" href="#">Dolor Fermentum Ullamcorper Fringilla</a>
            </li>
            <li class="__item">
              <a class="__link" href="#">Dolor Fermentum Ullamcorper Fringilla</a>
            </li>
            <li class="__item">
              <a class="__link" href="#">Sit Parturient Pellentesque Magna Sem Ridiculus Ultricies Euismod</a>
            </li>
            <li class="__item +children --active">
              <a class="__link" href="#">Lorem Aenean Sit Sem</a>
              <ul class="__list">
                <li class="__item">
                  <a class="__link" href="#">Cras Lorem</a>
                </li>
                <li class="__item">
                  <a class="__link" href="#">Ridiculus Purus Ultricies Vehicula Euismod Sit Parturient Pellentesque Magna Sem</a>
                </li>
                <li class="__item">
                  <a class="__link" href="#">Tristique Ultricies Ligula Parturient</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col w--1/2@t w--1/4@d">
        <div class="hidden--up@t ta--c">
          <button class="btn --sm fs-swap-element fs-swap-enabled" data-toggle="nav" data-swap-target="#page_menu_2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-align-left"
            >
              <line x1="17" y1="10" x2="3" y2="10" />
              <line x1="21" y1="6" x2="3" y2="6" />
              <line x1="21" y1="14" x2="3" y2="14" />
              <line x1="17" y1="18" x2="3" y2="18" />
            </svg>
            Page Menu
          </button>
        </div>
        <nav class="nav --interior fs-swap-target fs-swap-enabled mb--4" id="page_menu_2">
          <ul class="__list">
            <li class="__item --title">
              <a class="__link" href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-corner-left-up"
                >
                  <polyline points="14 9 9 4 4 9" />
                  <path d="M20 20h-7a4 4 0 0 1-4-4V4" />
                </svg> Parent Page
              </a>
            </li>
            <li class="__item">
              <a class="__link" href="#">Dolor Fermentum Ullamcorper Fringilla</a>
            </li>
            <li class="__item --active +children">
              <a class="__link" href="#">Lorem Aenean Sit Sem</a>
              <ul class="__list">
                <li class="__item">
                  <a class="__link" href="#">Cras Lorem</a>
                </li>
                <li class="__item --active">
                  <a class="__link" href="#">Ridiculus Purus Ultricies Vehicula Euismod Sit Parturient Pellentesque Magna Sem</a>
                </li>
                <li class="__item">
                  <a class="__link" href="#">Tristique Ultricies Ligula Parturient</a>
                </li>
              </ul>
            </li>
            <li class="__item">
              <a class="__link" href="#">Sit Parturient Pellentesque Magna Sem Ridiculus Ultricies Euismod</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col w--1/2@t w--1/4@d">
        <div class="hidden--up@t ta--c">
          <button class="btn --sm fs-swap-element fs-swap-enabled" data-toggle="nav" data-swap-target="#page_menu_3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-align-left"
            >
              <line x1="17" y1="10" x2="3" y2="10" />
              <line x1="21" y1="6" x2="3" y2="6" />
              <line x1="21" y1="14" x2="3" y2="14" />
              <line x1="17" y1="18" x2="3" y2="18" />
            </svg>
            Page Menu
          </button>
        </div>
        <nav class="nav --interior fs-swap-target fs-swap-enabled mb--4" id="page_menu_3">
          <ul class="__list">
            <li class="__item --title">
              <a class="__link" href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-corner-left-up"
                >
                  <polyline points="14 9 9 4 4 9" />
                  <path d="M20 20h-7a4 4 0 0 1-4-4V4" />
                </svg> Parent Page With Wrapping Text for Length
              </a>
            </li>
            <li class="__item">
              <a class="__link" href="#">Dolor Fermentum Ullamcorper Fringilla</a>
            </li>
            <li class="__item +children">
              <a class="__link" href="#">Lorem Aenean Sit Sem</a>
              <ul class="__list">
                <li class="__item">
                  <a class="__link" href="#">Cras Lorem</a>
                </li>
                <li class="__item">
                  <a class="__link" href="#">Ridiculus Purus Ultricies Vehicula Euismod Sit Parturient Pellentesque Magna Sem</a>
                </li>
                <li class="__item">
                  <a class="__link" href="#">Tristique Ultricies Ligula Parturient</a>
                </li>
              </ul>
            </li>
            <li class="__item --active +children">
              <a class="__link" href="#">Lorem Aenean Sit Sem</a>
              <ul class="__list">
                <li class="__item">
                  <a class="__link" href="#">Cras Lorem</a>
                </li>
                <li class="__item --active">
                  <a class="__link" href="#">Ridiculus Purus Ultricies Vehicula Euismod Sit Parturient Pellentesque Magna Sem</a>
                </li>
                <li class="__item">
                  <a class="__link" href="#">Tristique Ultricies Ligula Parturient</a>
                </li>
              </ul>
            </li>
            <li class="__item">
              <a class="__link" href="#">Sit Parturient Pellentesque Magna Sem Ridiculus Ultricies Euismod</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'canvas',
  data() {
    return {
      pageTitle: 'Nav'
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
