<template>
  <section class="container">
    <h1 class="pb--2">
      {{ pageTitle }}
    </h1>
    <div class="d--flex flex--row justify--around w--50@d">
      <ul class="ls--none w--1/2@d">
        <li>
          <nuxt-link class="tt--caps" to="/examples/defaults/">
            Defaults
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/examples/defaults/color-palette/">
            Color Palette
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/examples/defaults/columns/">
            Columns
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/examples/defaults/forms/">
            Forms
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/examples/defaults/sections/">
            Sections
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/examples/defaults/typography/">
            Typography
          </nuxt-link>
        </li>
      </ul>
      <ul class="ls--none w--1/2@d">
        <li>
          <nuxt-link class="tt--caps" to="/examples/layout/">
            Layout
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/examples/layout/archive/">
            Archive
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/examples/layout/article/">
            Article
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/examples/layout/home-page/">
            Home Page
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/examples/layout/page/">
            Page
          </nuxt-link>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      pageTitle: 'Examples'
    }
  },
  head() {
    return {
      title: this.pageTitle,
      meta: [
        { hid: 'description', name: 'description', content: 'The Examples page' }
      ]
    }
  }
}
</script>
