<template>
  <section class="container">
    <h1>{{ pageTitle }}</h1>
  </section>
</template>

<script>
export default {
  layout: 'canvas',
  data() {
    return {
      pageTitle: 'Archive'
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
