<template>
  <section class="container">
    <h1 class="pb--2">
      {{ pageTitle }}
    </h1>
    <div class="d--flex flex--row justify--around w--50@d">
      <ul class="ls--none w--1/2@d">
        <li>
          <nuxt-link to="./archive/">
            Archive
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="./article/">
            Article
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="./home-page/">
            Home Page
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="./page/">
            Page
          </nuxt-link>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      pageTitle: 'Layout'
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
