<template>
  <section class="container" :class="(cv_class ? ' '+ cv_class : '')">
    <h1>{{ pageTitle }}</h1>
    <div class="row">
      <div class="col">
        <div class="accordion">
          <div class="__item">
            <a class="__title fs-swap-element fs-swap-enabled" href="#" data-swap-target="#toggle_0a" data-swap-group="accordion_0">
                Play me some accordion!
            </a>
            <div class="__content fs-swap-target fs-swap-enabled" id="toggle_0a" data-swap-active="false">
              <div class="__copy">
                <p>To show an open panel by default, include the class <code>--visible</code> with <code>__title</code>. Omit <code>--visible</code> to load the accordion with all panels closed.</p>
                <p>Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
              </div>
            </div>
          </div>
          <div class="__item">
            <a class="__title fs-swap-element fs-swap-enabled" href="#" data-swap-target="#toggle_0b" data-swap-group="accordion_0">
                Do you want to play some polka?
            </a>
            <div class="__content fs-swap-target fs-swap-enabled" id="toggle_0b">
              <div class="__copy">
                <h3>With a Heading Now</h3>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                <p>Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
              </div>
            </div>
          </div>
          <div class="__item">
            <a class="__title fs-swap-element fs-swap-enabled" href="#" data-swap-target="#toggle_0c" data-swap-group="accordion_0">
                Roll out the barrel!
            </a>
            <div class="__content fs-swap-target fs-swap-enabled" id="toggle_0c">
              <div class="__copy">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                <p>Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'canvas',
  data() {
    return {
      pageTitle: 'Accordion'
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
