<template>
  <section class="container" :class="(cv_class ? ' '+ cv_class : '')">
    <h1>{{ pageTitle }}</h1>
    <div class="carousel" data-carousel-options='{"autoAdvance":"true","infinite":"true"}'>
      <div class="bg--gray-50 pa--5">1</div>
      <div class="bg--blue pa--5">2</div>
      <div class="bg--red pa--5">3</div>
      <div class="bg--green pa--5">4</div>
      <div class="bg--yellow pa--5">5</div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'canvas',
  data() {
    return {
      pageTitle: 'Carousel'
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
