<template>
  <section class="container" :class="(cv_class ? ' '+ cv_class : '')">
    <h1>{{ pageTitle }}</h1>
    <div class="row">
      <div class="col w--1/2 w--1/3@d">
        <a href="~/assets/images/21279.jpg" class="gallery" title="Image caption text." data-lightbox-gallery="photo_gallery">
          <div class="card">
            <img src="~/assets/images/21279.jpg" alt="">
          </div>
        </a>
      </div>
      <div class="col w--1/2 w--1/3@d">
        <a href="~/assets/images/85409.jpg" class="gallery" title="Image caption text. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum." data-lightbox-gallery="photo_gallery">
          <div class="card">
            <img src="~/assets/images/85409.jpg" alt="">
          </div>
        </a>
      </div>
      <div class="col w--1/2 w--1/3@d">
        <a href="~/assets/images/271380.jpg" class="gallery" title="Image caption text." data-lightbox-gallery="photo_gallery">
          <div class="card">
            <img src="~/assets/images/271380.jpg" alt="">
          </div>
        </a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'canvas',
  data() {
    return {
      pageTitle: 'Gallery'
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
