<template>
  <section class="container">
    <h1 class="pb--2">
      {{ pageTitle }}
    </h1>
    <div class="d--flex flex--row justify--around w--50@d">
      <ul class="ls--none w--1/2@d">
        <li>
          <nuxt-link to="/components/controls/accordion">Accordion</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/controls/carousel">Carousel</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/controls/gallery">Gallery</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/controls/modal">Modal</nuxt-link>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      pageTitle: 'Components with Controls'
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
