<template>
  <section class="container" :class="(cv_class ? ' '+ cv_class : '')">
    <h1>{{ pageTitle }}</h1>
    <a class="btn" href="#" data-size="base" data-toggle="modal" data-target="#modal_base">Modal</a>
    <div
      class="modal"
      id="modal_base"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal_base_label"
      aria-hidden="true"
    >
      <div class="__screen" data-dismiss="modal"></div>
      <div class="__content bg--white">
        <p>Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      </div>
      <button type="button" class="__close" data-dismiss="modal" aria-label="Close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-x"
        >
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </button>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'canvas',
  data() {
    return {
      pageTitle: 'Modal'
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
