<template class="contrasts">
  <div class="w--100 pb--7 ta--l col--stretch">
    <div v-for="color in colors" :key="color.bg" class="row w--100">
      <div
        v-for="(text, index) in color.tc"
        :key="index"
        :class="[{ 'col w--1/4@t w--20@w': text.aaLarge}, {'d--none': !text.aaLarge}]"
      >
        <div :class="['bg--' + color.bg, { 'bs--none': !color.hasShadow }]" class="card">
          <div :class="'tc--' + text.name">
            <div class="fw--400 fs--xs">
              {{ text.name }} on {{ color.bg }}
            </div>
            <p class="fs--d4">
              <span class="fw--700">Aa</span> <span class="fw--300">Aa</span>
            </p>
            <p class="fs--root fw--400 lh--tight" v-if="text.aaNormal">
              Lorem ipsum dolor sit amet consectetur.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contrasts',
  data() {
    return {
      colors: [
        {
          bg: 'white',
          bghex: '#ffffff',
          hasShadow: true,
          tc: [
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': true, 'aaLarge': true }
          ]
        },
        {
          bg: 'black',
          bghex: '#000000',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': false, 'aaLarge': true }
          ]
        },
        {
          bg: 'red',
          bghex: '#d41b2c',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': false, 'aaLarge': false }
          ]
        },
        {
          bg: 'gold',
          bghex: '#a4804a',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': false, 'aaLarge': false }
          ]
        },
        {
          bg: 'beige',
          bghex: '#e5d4ab',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': true, 'aaLarge': true }
          ]
        },
        {
          bg: 'gray-cool',
          bghex: '#99a3b0',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': false, 'aaLarge': false }
          ]
        },
        {
          bg: 'gray-warm-light',
          bghex: '#cfc7bf',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': false, 'aaLarge': true },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': false, 'aaLarge': true }
          ]
        },
        {
          bg: 'gray-warm',
          bghex: '#a19994',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': false, 'aaLarge': false },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': false, 'aaLarge': false }
          ]
        },
        {
          bg: 'blue-dark',
          bghex: '#385775',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': true, 'aaLarge': true }
          ]
        },
        {
          bg: 'blue',
          bghex: '#006eb5',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': true, 'aaLarge': true }
          ]
        },
        {
          bg: 'blue-light',
          bghex: '#52cfe5',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': true, 'aaLarge': true }
          ]
        },
        {
          bg: 'teal',
          bghex: '#00cfb5',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': true, 'aaLarge': true }
          ]
        },
        {
          bg: 'green',
          bghex: '#badb00',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': true, 'aaLarge': true }
          ]
        },
        {
          bg: 'yellow',
          bghex: '#ffbf3d',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': true, 'aaLarge': true }
          ]
        },
        {
          bg: 'orange',
          bghex: '#ff854f',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'purple', 'hex': '#824091', 'aaNormal': true, 'aaLarge': true }
          ]
        },
        {
          bg: 'purple',
          bghex: '#824091',
          tc: [
            { 'name': 'white', 'hex': '#ffffff', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'black', 'hex': '#000000', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'red', 'hex': '#d41b2c', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gold', 'hex': '#a4804a', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'beige', 'hex': '#e5d4ab', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-cool', 'hex': '#99a3b0', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm-light', 'hex': '#cfc7bf', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'gray-warm', 'hex': '#a19994', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-dark', 'hex': '#385775', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue', 'hex': '#006eb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'blue-light', 'hex': '#52cfe5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'teal', 'hex': '#00cfb5', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'green', 'hex': '#badb00', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'yellow', 'hex': '#ffbf3d', 'aaNormal': true, 'aaLarge': true },
            { 'name': 'orange', 'hex': '#ff854f', 'aaNormal': true, 'aaLarge': true }
          ]
        }
      ]
    }
  },
  methods: {
  }
}
</script>

<style scoped>
  .card {
    font-weight: 400;
    padding: 1.25rem 1.25rem 2rem;
  }
</style>
