<template>
  <nav
    id="labnav"
    class="k_nav navigation"
    role="navigation"
    data-navigation-handle="#nav_handle"
    data-navigation-content="#nav_toggle"
  >
    <nuxt-link class="k_logo" to="/">
      kernl(lab)
    </nuxt-link>
    <ul class="k_nav__list">
      <li class="k_nav__item">
        <nuxt-link class="fw--700" to="/components">
          Components
        </nuxt-link>
        <ul class="k_nav__list">
          <li class="k_nav__item --child">
            <nuxt-link class="tt--caps" to="/components/static/">
              Static — Simple
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/static/badge/">
              Badge
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/static/button/">
              Button
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/static/icon/">
              Icon
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/static/loader/">
              Loader
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/static/sharing/">
              Sharing
            </nuxt-link>
          </li>
        </ul>
        <ul class="k_nav__list">
          <li class="k_nav__item --child">
            <nuxt-link class="tt--caps" to="/components/static/">
              Static — Complex
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/static/card/">
              Card
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/static/list-group/">
              List Group
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/static/masthead/">
              Masthead
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/static/media-object/">
              Media Object
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/static/nav/">
              Nav
            </nuxt-link>
          </li>
        </ul>
        <ul class="k_nav__list">
          <li class="k_nav__item --child">
            <nuxt-link class="tt--caps" to="/components/controls/">
              Controls
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/controls/accordion/">
              Accordion
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/controls/carousel/">
              Carousel
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/controls/gallery/">
              Gallery
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/components/controls/modal/">
              Modal
            </nuxt-link>
          </li>
        </ul>
      </li>
      <li class="k_nav__item mt--1">
        <nuxt-link class="fw--700" to="/examples">
          Examples
        </nuxt-link>
        <ul class="k_nav__list">
          <li class="k_nav__item --child">
            <nuxt-link class="tt--caps" to="/examples/defaults/">
              Defaults
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/examples/defaults/color-palette/">
              Color Palette
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/examples/defaults/columns/">
              Columns
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/examples/defaults/forms/">
              Forms
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/examples/defaults/sections/">
              Sections
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/examples/defaults/typography/">
              Typography
            </nuxt-link>
          </li>
        </ul>
        <ul class="k_nav__list">
          <li class="k_nav__item --child">
            <nuxt-link class="tt--caps" to="/examples/layout/">
              Layout
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/examples/layout/archive/">
              Archive
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/examples/layout/article/">
              Article
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/examples/layout/home-page/">
              Home Page
            </nuxt-link>
          </li>
          <li class="k_nav__item --child">
            <nuxt-link class="pl--2" to="/examples/layout/page/">
              Page
            </nuxt-link>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
}
</script>
