<template>
  <div
    id="app_nav_buttons"
    class="ta--c d--flex justify--between pos--fixed pin--b w--100"
  >
    <button id="filter_menu_handle" class="btn --sm __toggler ma--0h pa--0h">
      menu
    </button>
    <button id="chart_menu_handle" class="btn --sm __toggler ma--0h pa--0h">
      customize
    </button>
  </div>
</template>

<script>
export default {

}
</script>
