<template>
  <div class="palette vh--40 bg--gray-200 bs">
    <nav class="nav --tabbed __header bg--gray-800">
      <ul class="__list" role="tablist">
        <li class="__item">
          <a
            class="__link"
            :class="[ activetab === 'Component' ? '--active' : '' ]"
            @click="activetab='Component'"
          >
            Component
          </a>
        </li>
        <li class="__item">
          <a
            class="__link"
            :class="[ activetab === 'Canvas' ? '--active' : '' ]"
            @click="activetab='Canvas'"
          >
            Canvas
          </a>
        </li>
      </ul>
    </nav>

    <div class="nav__content __body">
      <div v-if="activetab ==='Component'" class="hidden --active" role="tabpanel">
        <span v-if="Object.keys(options).length > 0" class="fs--root fw--700">Scoped Options</span>
        <select
          v-if="Object.keys(options).length > 0"
          :size="options.length + 2"
          multiple
          v-model="class_options"
          @change="onChange"
          class="fs--sm"
        >
          <optgroup label="Select Option(s)">
            <option v-for="(option, index) in options.filter(e => e.type == 'select')" :key="index" :value="option.value">
              {{ option.label }}
            </option>
          </optgroup>
        </select>

        <span class="d--block" v-for="option in options.filter(e => e.type == 'bool')" :key="option.label">
          <label>
            <input v-model="class_options" @change="onChange" type="checkbox" :value="option.value">{{ option.label }}</label>
          </label>
        </span>

        <span v-show="utils.length > 0" class="fs--root fw--700">Global Utilities</span>
        <select
          v-show="utils.length > 0"
          multiple
          size="10"
          v-model="class_utils"
          @change="onChange"
          class="fs--sm"
        >
          <optgroup v-for="(item, index) in utils" :key="index" :label="Object.keys(item)[0]" class="tt--c">
            <option v-for="(util, i) in item[Object.keys(item)[0]]" :key="i" :value="util.value">
              {{ util.label }}
            </option>
          </optgroup>
        </select>
      </div>

      <div v-if="activetab ==='Canvas'" class="hidden --active" role="tabpanel">
        <span class="fs--root fw--700">Canvas Options</span>
        <select
          v-model="class_canvas"
          @change="updateCanvas"
          class="fs--sm"
        >
          <option selected value="bg--white">White Background</option>
          <option value="bg--gray-200">Light Gray Background</option>
          <option value="bg--gray">Med Gray Background</option>
          <option value="bg--gray-800">Dark Gray Background</option>
          <option value="bg--black">Black Background</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Palette',
  props: ['options', 'utils'],
  data() {
    return {
      activetab: 'Component',
      class_options: [],
      class_utils: [],
      classes: [],
      class_canvas: 'White Background'
    }
  },
  methods: {
    onChange() {
      const classes = this.class_options.concat(this.class_utils)
      this.$emit('palette-updates', classes)
    },
    updateCanvas() {
      this.$emit('canvas-updates', this.class_canvas)
    }
  }
}
</script>

<style scoped>
  option { margin: 4px 0; }
</style>
