<template>
  <div class="palette vh--40 bg--gray-200 bs">
    <nav class="nav --tabbed __header bg--gray-800">
      <ul class="__list" role="tablist">
        <li class="__item">
          <a
            class="__link"
            :class="[ activetab === 'Component' ? '--active' : '' ]"
            @click="activetab='Component'"
          >
            Component
          </a>
        </li>
        <li class="__item">
          <a
            class="__link"
            :class="[ activetab === 'Canvas' ? '--active' : '' ]"
            @click="activetab='Canvas'"
          >
            Canvas
          </a>
        </li>
      </ul>
    </nav>

    <div class="nav__content __body">
      <div v-if="activetab === 'Component'" class="hidden --active" role="tabpanel">
        <span class="fs--root fw--700">Global Utilities</span>
        <select
          multiple
          v-model="class_utils"
          @change="updateOptions"
          class="h--auto vh--20 fs--sm"
        >
          <optgroup v-for="(util, index) in utils" :key="index" :label="util.group">
            <option v-for="(item, index) in util.items" :key="index" :value="item.value">
              {{ item.label }}
            </option>
          </optgroup>
        </select>
      </div>
      <div v-if="activetab === 'Canvas'" class="hidden --active" role="tabpanel">
        <span class="fs--root fw--700">Canvas Options</span>
        <select
          v-model="class_canvas"
          @change="updateCanvas"
          class="fs--sm"
        >
          <option value="bg--white">White Background</option>
          <option value="bg--gray-200">Light Gray Background</option>
          <option value="bg--gray">Med Gray Background</option>
          <option value="bg--gray-800">Dark Gray Background</option>
          <option value="bg--black">Black Background</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Widget',
  props: ['utils', 'canvas'],
  data() {
    return {
      activetab: 'Component',
      class_utils: [],
      classes: [],
      class_canvas: 'White Background'
    }
  },
  methods: {
    updateOptions() {
      this.$emit('palette-updates', this.class_utils.join(' '))
    },
    updateCanvas() {
      this.$emit('canvas-updates', this.class_canvas)
    }
  }
}
</script>

<style scoped>
  option { margin: 4px 0; }
</style>
