<template>
  <div class="canvas" :class="(cv_class ? ' '+ cv_class : '')">
    <GlobalNav />
    <nuxt
      :utils="utils"
    />
    <Widget
      :utils="utils"
      :canvas="canvas"
      @palette-updates="UpdatePalette"
      @canvas-updates="UpdateCanvas"
    />
    <NavButtons />
  </div>
</template>

<script>
import GlobalNav from '~/components/GlobalNav.vue'
import NavButtons from '~/components/NavButtons.vue'
import Widget from '~/components/Widget.vue'

export default {
  props: ['canvas'],
  components: {
    GlobalNav,
    NavButtons,
    Widget
  },
  data() {
    return {
      el_class: [],
      cv_class: [],
      utils: [
        {
          group: 'Background Color',
          items: [
            { label: 'Black Background', value: 'bg--black' },
            { label: 'Red Background', value: 'bg--red' }
          ]
        },
        {
          group: 'Text Color',
          items: [
            { label: 'Black text', value: 'tc--black' },
            { label: 'Red text', value: 'tc--red' }
          ]
        }
      ]
    }
  },
  methods: {
    UpdatePalette(elClass) {
      this.el_class = elClass
    },
    UpdateCanvas(cvClass) {
      this.cv_class = cvClass
    }
  }
}
</script>
