// canvas palette styles

.palette {
  position: absolute;
  bottom: 3rem;
  right: 0.5rem;
  text-align: left;
  width: 14rem;

  .__header {
    font-size: $fs-sm;
    color: $white;

    .__link {
      &:hover {
        cursor: pointer;
        color: $gray-100;
        background: $gray-700;
      }

      &.\--active {
        font-weight: 700;

        &:hover {
          cursor: default;
        }
      }

      @include mqbp-up(d) {
        padding: 0.75rem 1rem;
        border-bottom: 0 none !important;
        border-right: 1px solid $white-alpha;
      }
    }
  }

  .__body {
    padding: 0.5rem;
    font-size: $fs-xs;
  }
}
