<template>
  <section class="container">
    <h1 class="pb--2">
      {{ pageTitle }}
    </h1>
    <div class="d--flex flex--row justify--around w--50@d">
      <ul class="ls--none w--1/2@d">
        <li>
          <nuxt-link to="./color-palette/">
            Color Palette
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="./columns/">
            Columns
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="./forms/">
            Forms
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="./sections/">
            Sections
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="./typography/">
            Typography
          </nuxt-link>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      pageTitle: 'Defaults'
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  }
}
</script>
