<template>
  <section class="container">
    <h1 class="pb--2">
      {{ pageTitle }}
    </h1>
    <div class="d--flex flex--row justify--around w--70@d">
      <ul class="ls--none w--1/3@d">
        <li>
          <nuxt-link class="tt--caps" to="/components/static/">
            Static — Simple
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/static/badge/">
            Badge
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/static/button/">
            Button
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/static/icon/">
            Icon
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/static/loader/">
            Loader
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/static/sharing/">
            Sharing
          </nuxt-link>
        </li>
      </ul>
      <ul class="ls--none w--1/3@d">
        <li>
          <nuxt-link class="tt--caps" to="/components/static/">
            Static — Complex
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/static/card/">
            Card
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/static/list-group/">
            List Group
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/static/masthead/">
            Masthead
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/static/media-object/">
            Media Object
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/static/nav/">
            Nav
          </nuxt-link>
        </li>
      </ul>
      <ul class="ls--none w--1/3@d">
        <li>
          <nuxt-link class="tt--caps" to="/components/controls/">
            Controls
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/controls/accordion">Accordion</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/controls/carousel">Carousel</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/controls/gallery">Gallery</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/components/controls/modal">Modal</nuxt-link>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      pageTitle: 'Components'
    }
  },
  head() {
    return {
      title: this.pageTitle,
      meta: [
        { hid: 'description', name: 'description', content: 'The Components page' }
      ]
    }
  }
}
</script>
